{{ $order := slice 
"email" 
"github" 
"twitter" 
"youtube" 
"twitch" 
"spotify" 
"rss" }}

<div class="social-icons">
  {{ range $key := $order }}
    {{ $value := index site.Params.social $key }}
    {{ if $value }}
      {{ $icon := $key }}
      {{ $prefix := "fab" }}

      {{ if eq $key "email" }}
        {{ $icon = "envelope" }}
        {{ $prefix = "fas" }}
      {{ else if eq $key "rss" }}
        {{ $icon = "rss" }}
        {{ $prefix = "fas" }}
      {{ end }}

      <a href="{{ $value }}" target="_blank" rel="noopener">
        <i class="{{ $prefix }} fa-{{ $icon }}"></i>
      </a>
    {{ end }}
  {{ end }}
</div>

<p>
  &copy; Copyright {{ now.Year }} &middot;
  <a href="https://github.com/lairizzle/kage">Powered By Kage</a> &middot;
  <a href="/categories">Categories</a> &middot;
	<a href="/tags">Tags</a> <br>
	<a href="#top" id="back-to-top">↑ Back to Top</a>
</p>
